#field {
    display: flex;
    flex-direction: row;
}

.field-body {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.field-header {
    display: flex;
    margin: 2rem 0 0.5rem 0;
}

.field-header > div > p {
    margin: auto 0 0 0;
}

.field-hero {
    display: flex;
    margin: auto auto auto 2rem;
}

.field-hero > img {
    height: 5rem;
    border: 5px black solid;
    border-radius: 10px;
}

.field-monster {
    display: flex;
    margin: auto 0 auto auto;
}

.field-monster > img {
    height: 5rem;
    border: 5px black solid;
    border-radius: 10px;
}

.field-fight {
    background-image: url('../../images/bg/gate-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    margin-left: 2rem;
    border: 5px black solid;
}

.field-fight > * {
    display: flex;
    justify-content: center;
    margin: 12rem auto 3rem auto;

}

.field-hero-sprite {
    width: 35%;
    height: auto;
}

.field-monster-sprite {
    width: 35%;
}

.field-footer > button {
    margin-left: 3rem;
    font-size: 18px;
    padding: 0.5rem 2rem;
}

.field-chat {
    margin: 2rem 1rem;
    padding: 10px;
    width: 25%;
    background-color: var(--dark);
    border: 5px black solid;
}
