#field {
    display: flex;
    flex-direction: row;
}

.field-body {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.field-header {
    display: flex;
    margin: 2rem 0 0.5rem 0;
}

.field-header > div > p {
    margin: auto 0 0 0;
}

.field-name {
    font-size: 18px;
    margin-bottom: 5px;
}

.field-hero {
    display: flex;
    margin: auto auto auto 2rem;
    align-items: center;
}

.field-hero-info {
    margin-left: 10px;
}

.field-hero > img {
    height: 5rem;
    border: 5px black solid;
    border-radius: 10px;
}

.field-monster {
    display: flex;
    margin: auto 0 auto auto;
    align-items: center;
}

.field-monster-info {
    margin-right: 10px;
}

.field-monster > img {
    height: 5rem;
    border: 5px black solid;
    border-radius: 10px;
}

.hp-bar {
    height: 2rem;
    width: 15rem;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    border: 3px black solid;
}

.hp-bar-inner-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: red; /* Red color beneath */
    transform-origin: right;
    transform: scaleX(1); /* Scales down the red bar */
    transition: transform 0.5s ease;
}

.hp-bar-inner {
    height: 100%;
    width: 100%;
    background-color: green;
    transition: width 0.5s ease;
}

.hp-text {
    margin: 0 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s ease;
    cursor: default;
}

.hp-bar:hover .hp-text {
    opacity: 1; /* Display on hover */
}

.field-fight {
    background-image: url('../../images/bg/gate-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    margin-left: 2rem;
    border: 5px black solid;
}

.field-fight > * {
    display: flex;
    justify-content: center;
    margin: 12rem auto 3rem auto;
}

.field-hero-sprite {
    width: 35%;
    height: auto;
}

.field-monster-sprite {
    width: 35%;
}

.field-footer > button {
    margin-left: 3rem;
    font-size: 18px;
    padding: 0.5rem 2rem;
}

.field-chat {
    height: 86%;
    max-height: 86%;
    overflow: hidden;
    overflow-y: auto;
    flex: 1;
    margin: 2rem 1rem;
    padding: 10px;
    width: 25%;
    background-color: var(--dark);
    border: 5px black solid;
}

.field-att-d {
    cursor: default;
    color: darkgray;
}
