.layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

.layout-bot {
    display: flex;
    flex: 1;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* overflow-y: auto; */
    /* flex: 1; */
}

.nav {
    height: 60px;
    display: flex;
}

.nav-left {
    background-color: var(--dark);
    height: 100%;
    width: 225px;
    box-shadow: 5px 5px 5px 0px black;
}
