#chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    max-width: 1350px;
    height: 100%;
    margin: 1.5rem auto;
    border: black solid 5px;
    border-radius: 15px;
    padding: 1.5rem;
    background-color: var(--hero);
}

.chat-title {
    margin: auto;
    justify-content: center;
}

.chat-body {
    justify-content: center;
    color: black;
    background-color: azure;
    border: black 4px solid;
    border-radius: 15px;
    height: 80%;
    width: 100%;
    margin: 15px auto;
    padding: 0.5rem;
}

.chat-body > div {
    margin: 10px auto;
    size: 16px;
}

.chat-play {
    display: flex;
    border: black solid 4px;
    border-radius: 15px;
    width: auto;
    padding: 5px;
    background-color: #2d62cd;
}

.chat-input {
    border-radius: 15px;
    padding: 10px;
    margin: 3px;
    width: 80%;
    font-size: 16px;
}

.chat-send {
    border: 4px black solid;
    box-shadow: none;
    color: black;
    background-color: whitesmoke;
    padding: 15px 30px;
}
