.NavButtons {
    background-color: var(--dark);
    display: flex;
    flex-direction: column;

}

.NavButtons > * {
    display: flex;
    justify-content: center;
    padding: 25px;
    font-size: 24px;
    border-bottom: 2px solid whitesmoke;
    color: white;
}

.NavButtons > div:hover {
    cursor: pointer;
}
