.createhero-box {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.createhero-header {
    margin: 30px;
}

.createhero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.createhero-errors {
    display: flex;
    justify-content: center;
    color: red;
}

.createhero-left > * {
    margin: .5rem auto;
}

.hc-name-head {
    display: flex;
    justify-content: center;
}

.name-input {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    padding: .5rem 2rem;
}

.createhero-class > h3 {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
}

.createhero-class-holder {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    background-color: var(--hero);
    box-shadow: 2px 2px 1px 5px black;
    border-radius: 15px;
    margin: 1rem;
    padding: .5rem;
}

.createhero-class-holder > div > img {
    height: 7rem;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
    border: 5px black solid;
}

.createhero-middle {
    background-color: var(--dark);
    border-radius: 15px;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    width: 160vh;
    margin: 1rem;
    box-shadow: 1px 1px 1px 5px black;
}

.createhero-middle > * {
    margin: auto;
}

.createhero-middle > button {
    font-size: 24px;
    padding: 0.5rem 1.5rem;
    margin: 1rem auto;
    border-radius: 10px;
}

.hc-heroname {
    font-size: 30px;
    font-weight: bold;
    margin: 2rem auto;
}

.hc-hero-sprite  {
    height: 20vh;
}

.hc-hero-sprite > i {
    font-size: 10vw;
}

.createhero-right {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hc-right-header {
    font-size: 24px;
}
