#singlehero-wrapper {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: black;
    border-top: 5px rgb(137, 25, 25) solid;
};

.singlehero-header {
    display: flex;
    flex-direction: row;
};

.singlehero-body {
    width: max-content;
}

.singlehero-body > img {
    width: 200px;
    height: 190px;
};

.singlehero-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
};

.fa-pen-to-square, .fa-trash-can {
    outline: none;
};
