#singlehero-wrapper {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 270px;
    background-color: black;
    border-top: 5px var(--hero) solid;
    margin: 1rem;
    border-radius: 10px;
}

.singlehero-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    font-size: 18px;
    height: 40px;
}

.singlehero-body {
    display: flex;
    justify-content: center;
}

.singlehero-body > img {
    width: 215px;
    height: 180px;
}

.singlehero-footer {
    height: 46px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.fa-pen-to-square, .fa-trash-can {
    outline: none;
    color: whitesmoke;
    padding: 5px;
    /* margin: 5px; */
}
