#singlehero-wrapper {
    display: flex;
    flex-direction: column;
    width: 36vh;
    height: 44vh;
    background-color: black;
    border-top: 5px var(--hero) solid;
    margin: 1rem;
    border-radius: 10px;
}

.singlehero-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 8px;
    padding: 13px;
    font-size: 20px;
}

.singlehero-body {
    display: flex;
    justify-content: center;
}

.singlehero-body > img {
    width: 30vh;
    height: 30vh;
}

.singlehero-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.fa-pen-to-square, .fa-trash-can {
    outline: none;
    color: whitesmoke;
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
    margin-right: 5px;
}
