.heroes-wrapper {
    width: 100%;
}

.heroes-header {
    margin: 30px;
}

.heroes-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    margin: auto 1rem;
}

.heroes-create {
    height: 250px;
    width: 250px;
    background-color: lightblue;
    margin: 1rem;
    border-radius: 10px;
}
