.singlemonster-wrapper {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 270px;
    margin: 1rem;
    border-radius: 10px;
    background-color: black;
    border-top: 5px var(--monster) solid;
}

.singlemonster-header {
    display: flex;
    justify-content: center;
    height: 40px;
    padding: 10px;
    font-size: 18px;
}

.singlemonster-body {
    display: flex;
    justify-content: center;
}

.singlemonster-body > img {
    width: 215px;
    height: 180px;
}

.singlemonster-footer {
    height: 46px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
