.singlemonster-wrapper {
    display: flex;
    flex-direction: column;
    width: 11vw;
    height: 13vw;
    margin: 3vw;
    border-radius: 10px;
    background-color: black;
    border-top: 5px var(--monster) solid;
}

.singlemonster-header {
    display: flex;
    justify-content: center;
    height: 3vw;
    padding: .4vw;
    font-size: 1vw;
}

.singlemonster-body {
    display: flex;
    justify-content: center;
}

.singlemonster-body > img {
    width: 9vw;
    height: 10vw;
    padding-bottom: 2vw;
}
