/* TODO Add site wide styles */
:root {
    --dark: #1e2124;
    --medium: #282b30;
    --hero: #891919;
    --monster: #074d07;
    background-color: #424549;
    color: white;
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}

input {
    outline: none;
}

button {
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    border: black 4px solid;
    box-shadow: 5px 5px 5px 2px black;
    background-color: gray;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem auto;
    border-radius: 10px;
}

li {
    list-style-type: none;
}
