/* TODO Add site wide styles */
:root {
    --dark: #1e2124;
    --medium: #282b30;
    --hero: #891919;
    --monster: #074d07;
    background-color: #424549;
    color: white;
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}

body {
    /* overflow: hidden; */
}

button {
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
}

li {
    list-style-type: none;
}
