.battles-title {
    margin: 30px;
}

.battles-header {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.battles-hero, .battles-monster {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.battles-hero > img, .battles-hero > i, .battles-monster > img, battles-monster > i {
    /* width: 100%; */
    margin: 10px auto;
    height: 16vw;
}

.battles-versus {
    font-size: 24px;
    color: goldenrod;
}

.battles-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.heroes-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: var(--hero);
    border-radius: 10px;
}

.heromini-container {
    cursor: pointer;
}

.monster-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid red;
    margin: 2rem;
}

.monstermini-container {
    background-color: var(--monster);
    cursor: pointer;
}

.battles-create {
    display: flex;
    justify-content: center;
    width: 16%;
    font-size: 24px;
    border: black 4px solid;
    box-shadow: 5px 5px 5px 2px black;
    background-color: gray;
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    border-radius: 10px;
    cursor: pointer;
}
