.battles-title {
    margin: 30px;
}

.battles-header {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.battles-hero, .battles-monster {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.battles-hero-s > img, .battles-hero-s > i, .battles-monster-s > img, .battles-monster-s > i {
    margin: 10px auto;
    height: 16vw;
}

.battles-versus {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    color: goldenrod;
    margin: auto;
}

.battles-versus > p {
    margin: auto 15px;
}

.battles-body {
    display: flex;
    justify-content: space-around;
}

.heroes-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: var(--hero);
    box-shadow: 2px 2px 1px 5px black;
    border-radius: 15px;
    margin: 25px;
}

.heromini-container {
    cursor: pointer;
}

.heromini-container > img {
    height: 7rem;
    margin: 6px;
    border-radius: 15px;
    cursor: pointer;
    border: 5px black solid;
}

.monster-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: var(--monster);
    box-shadow: 2px 2px 1px 5px black;
    border-radius: 15px;
    margin: 2rem;
}

.monstermini-container {
    cursor: pointer;
}

.monstermini-container > img {
    height: 7rem;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
    border: 5px black solid;
}

.battles-create {
    display: flex;
    justify-content: center;
    width: 16%;
    font-size: 24px;
    border: black 4px solid;
    box-shadow: 5px 5px 5px 2px black;
    background-color: gray;
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    border-radius: 10px;
    cursor: pointer;
}
