.hidden {
    display: none;
}

#nav {
    display: flex;
    background-color: lightblue;
}

#nav-left {
    display: flex;
    background-color: beige;
    width: 200px;
}

.navitems {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 18px;
}
