#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    width: 300px;
}

.login-title {
    margin: auto;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form > label {
    margin: 20px;
}

.login-form > label > p {
    padding-bottom: 10px;
}

.login-form > label > input {
    padding: 5px;
    width: 100%;
}

.login-errs {
    color: red;
    margin: 5px auto;
}

.login-form > button {
    font-size: 18px;
    margin: 20px auto;
}
